<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.retrofitauthtoken">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ctg_icon"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"

        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RetrofitAuthToken"
        tools:targetApi="31">

        <activity
            android:name=".activities.EmployeeFillTimesheetActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity3"
            android:exported="false" />
        <activity
            android:name=".activities.BirthdayActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AddLeaveActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UserBasicInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HolidayActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DashBoardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity2"
            android:exported="false" />
        <activity
            android:name=".activities.LoginScreenActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>